body {
    font-family: sans-serif;
   background-color: black;
    margin-top: 10px;
    background: #ffffff url("https://s-media-cache-ak0.pinimg.com/474x/ad/ee/5b/adee5b1eb2950925ce7f54a036f66f98.jpg") no-repeat right top;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

