body {
    font-family: sans-serif;
  /*  background-color: lightblue;*/
    margin-top: 75px;
    background-image: url(/ui/imad.jpg);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

